.forecast-container {
  max-width: 320px;
  max-height: 200px;
  border-radius: .4rem;
  padding: .4rem;
  margin-top: -10px;
}

h4 {
  background-image: linear-gradient(90deg, rgb(63, 250, 86) 0%, rgb(228, 230, 77) 100%);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.light h4 {
  -webkit-text-fill-color: var(--color-text);
  -moz-text-fill-color: var(--color-text);
}

.forecast-days-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (min-width: 768px) {
  
}