.hour-item {
  margin: 0 8px 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 110px;
}

.formatted-time {
  font-size: 13px;
}

.rain-percent {
  font-size: 12px;
}

.hour-item img {
  width: 50px;
}

p:last-child {
  font-size: 18px;
}