.hour-item {
  margin: 0px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formatted-time {
  font-size: 13px;
}

.rain-percent {
  font-size: 12px;
}

.hour-item img {
  width: 75px;
}