#sign-in-button {
  position: absolute;
  left: 10px;
  top: 20px;
  border-radius: .4rem;
  border: none;
  padding: .4rem;
  width: 4.2rem;
  color: var(--color-background);
  background: var(--color-accent);
  font-size: .9rem;
  font-weight: 600;
  transition: transform 0.3s;
}

#sign-in-button:active {
  transform: translateY(3px);
}

#sign-in-button:hover {
  cursor: pointer;
}