.search-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
}

.search-box-container input {
  padding: .5rem;
  border-radius: .4rem;
  border: none;
  background-color: var(--color-text);
  margin-bottom: .5rem;
  width: 15rem;
  font-size: 1rem;
  text-align: center;
}

.search-box-container button {
  border-radius: .4rem;
  border: none;
  padding: .6rem;
  width: 6rem;
  color: var(--color-text);
  background: var(--color-accent);
  font-size: 1rem;
  font-weight: 600;
  transition: transform 0.3s
}

.search-box-container button:active {
  transform: translateY(3px)
}

.search-box-container button:hover {
  cursor: pointer;
}