::-webkit-scrollbar {
  width: 0;
}

.hourly-container {
  display: flex;
  overflow-x: scroll;
  background-color: #1e1633;
  max-width: 320px;
  max-height: 200px;
  border-radius: .4rem;
  padding-top: .4rem;
  padding-bottom: 0;
  margin-top: -10px;
}