@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root,
.dark {
  transition: .2s ease;
  --shadow-color: 270deg 2% 49%;
  --color-background: #000000;
  --color-text: #f8fafc;
  --container-background: #111827;
  --color-accent: linear-gradient(90deg, rgb(123, 91, 199) 0%, rgb(234, 56, 141) 100%);
}

.light {
  transition: .2s ease;
  --color-background: #f2f2f2;
  --color-text: #2b2e4a;
  --color-accent: #2b2e4a;
  --container-background: none;
  --box-shadow:
    -0.1px 0.3px 0.3px hsl(var(--shadow-color) / 1),
    -0.9px 2.8px 2.8px -1.2px hsl(var(--shadow-color) / 0.97),
    -3.5px 10.6px 10.6px -2.4px hsl(var(--shadow-color) / 0.79),
    -10.2px 30.6px 30.7px -3.6px hsl(var(--shadow-color) / 0.61);
}

body::-webkit-scrollbar {
  width: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  user-select: none;
}

.loader {
  position: relative;
  top: 250px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 320px;
  margin: 20px auto;
  border-radius: 10px;
}

.App p {
  font-weight: 600;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location {
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 600;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#description {
  margin-top: 20px;
}

.description-container img {
  width: 6rem;
}

.main-temp {
  font-size: 5rem;
  font-weight: 400;
  line-height: 5rem;
  background-image: var(--color-accent);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.light .main-temp {
  -webkit-text-fill-color: var(--color-text);
  -moz-text-fill-color: var(--color-text);
}

.hi-lo {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 5px;
}

@media screen and (min-width: 768px) {

  body {
    height: 100vh;
    width: 100vw;
    display: block;
  }

  .loader {
    position: relative;
    top: 33vh;
    left: 43vw;
  }

  .App {
    flex-direction: row;
    min-height: 60vh;
    min-width: fit-content;
    max-width: 50vw;
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    margin-top: 20vh;
  }

  .dark .App {
    background-color: #111827;
  }

  .search-box-container input {
    margin-top: -10px;
  }

  .forecast-container {
    margin-top: 50px;
  }

}